# Database
DATABASE_URL=

# Nasa URL
NASA_POWER_API_URL=https://power.larc.nasa.gov/api/temporal/daily/point

# Pvwatts
PVWATTS_API_KEY=
PVWATTS_API_URL=

# API key
API_KEY=

# CORS
ALLOWED_ORIGINS=*

# Port
PORT=8080
