# Database
DATABASE_URL=

# Nasa URL
NASA_POWER_API_URL=

# Pvwatts
PVWATTS_API_KEY=
PVWATTS_API_URL=

# API key
API_KEY=

# CORS
ALLOWED_ORIGINS=

# Documentation site (Fumadocs)
DOCS_URL=

# Port
PORT=
